.siteheader h1 {
  display:none;
}

.siteheader {
  margin-left:20% ;
  width: 60%;
}

.siteheader {
  border-bottom-right-radius: 0em;
  border-bottom-left-radius: 0em;
  height: 2.625em;
}

@media(max-width: 420px) {

.siteheader {
  margin-left: 0;
  width: 100%;
}

}

form {
  clear: both;
  width: 60%;
  margin-left:20% ;
  padding-bottom:1em;
}

button {
  display: block;
  width: 42%;
  height: 2em;
  margin: 1.6em 0 0 52%;
  padding-bottom:1em;
  resize: none;
  clear: both;
}

label {
  display: block;
  float: left;
  clear: both;
  width: 36%;
  min-height: 1em;
  margin-left: 5.5%;
}

input {
  display: block;
  clear: both;
  width: 88%;
  height: 2.4em;
  margin-left: 5.5%;
}

header {
  width: 60%;
  margin: 0 0 0 20%;
}

.error {
  float: left;
  width: 88%;
  height: 1.4em;
  margin: 0.3em 0 0 5.5%;
}

.error h4 {
  float: left;
  width: 91%;
  min-height: 1em;
  margin: 0.125em 0 0 3.6%;
}

@media(max-width: 420px) {
  form {
    width: 100%;
    margin: 0 0 0 0;
  }

  header {
    width: 100%;
    margin: 0 0 0 0;
  }
}