body {
  background-color: rgba(221, 241, 237, 0.9);
  font-family: Ubuntu;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  font-size: 1em;
  line-height: 1.38;
  font-size-adjust: none;
  font-stretch: normal;
  color: #ffffff;  
}

header {
  line-height: 2;
  height: 2em;
  color: rgb(255, 255, 255);
  border-top-left-radius: 0.238em;
  border-top-right-radius: 0.238em;

  background: rgb(184, 227, 218);
  background: -webkit-linear-gradient(135deg, rgb(184, 227, 218) 0%, rgb(0, 66, 61) 100%) rgb(184, 227, 218);
  background:    -moz-linear-gradient(135deg, rgb(184, 227, 218) 0%, rgb(0, 66, 61) 100%) rgb(184, 227, 218);
  background:      -o-linear-gradient(135deg, rgb(184, 227, 218) 0%, rgb(0, 66, 61) 100%) rgb(184, 227, 218);
  background:     -ms-linear-gradient(135deg, rgb(184, 227, 218) 0%, rgb(0, 66, 61) 100%) rgb(184, 227, 218);
  background:         linear-gradient(315deg, rgb(184, 227, 218) 0%, rgb(0, 66, 61) 100%) rgb(184, 227, 218);
  background-size: 200% 100%;
}

button {
  border: 0.06em solid rgb(153, 153, 153);
  border-radius: 0.3em;
  background-color: rgb(222, 222, 222);
  /*font-size: 0.8em;*/
  line-height: 1.7;
  text-align: center;
  color: rgb(0, 0, 0);
  font-weight: 400;
}

form {
  border-bottom-right-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
  background-color: rgb(184, 227, 218);
}

input {
  padding: 0 0.8em;
  border-radius: 0.4em;
  background-color: rgb(255, 255, 255);
  font-size: 1em;
  line-height: 1.2;
  color: rgb(0, 0, 0);
  font-weight:400;
}

label {
  font-size: 1em;
  line-height: 1.4;
  color: rgb(0, 66, 61);
}

table thead tr:first-child {
  color: rgb(255, 255, 255);
  background: rgb(184, 227, 218);
  background: -webkit-linear-gradient(135deg, rgb(184, 227, 218) 0%, rgb(0, 66, 61) 100%) rgb(184, 227, 218);
  background:    -moz-linear-gradient(135deg, rgb(184, 227, 218) 0%, rgb(0, 66, 61) 100%) rgb(184, 227, 218);
  background:      -o-linear-gradient(135deg, rgb(184, 227, 218) 0%, rgb(0, 66, 61) 100%) rgb(184, 227, 218);
  background:     -ms-linear-gradient(135deg, rgb(184, 227, 218) 0%, rgb(0, 66, 61) 100%) rgb(184, 227, 218);
  background:         linear-gradient(315deg, rgb(184, 227, 218) 0%, rgb(0, 66, 61) 100%) rgb(184, 227, 218);
  background-size: 200% 100%;
}

table thead tr:first-child th {
  font-weight:700;
}


table tbody tr:nth-child(even) {
  background-color:#b8e3da;
}

table tbody tr:hover{
  background-color:#3a9582;
}

table th, table td{
  border-width:1px;
  border-color:#b8e3da;
  border-style:solid;
  padding-left:0.5%;
  vertical-align:middle;
}

table tbody tr a{
  display:block;
  color:#000000;
}


.siteheader {
  border-bottom-right-radius: 0.313em;
  border-bottom-left-radius: 0.313em;
  height: 2.625em;
}

.siteheader {
  margin-left: 10%;
  width: 80%;
}

@media(max-width: 420px) {

.siteheader {
  margin-left: 0;
  width: 100%;
}

}

.siteheader h1 {
  float: left;
  width: 70.3125%;
  min-height: 1.318em;
  margin-top: 0.227em;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 1.25%;
  font-family: Arvo;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-size: 1.375em;
  line-height: 1.38;
  font-size-adjust: none;
  font-stretch: normal;
  color: #ffffff;
}

.siteheader img.logo {
  display: block;
  float: left;
  width: 44px;
  height: auto;
  margin: 0.3em 0 0 0.3%;
  overflow: hidden;
}

.error {
  border: 0.05em solid #c77070;
  border-radius: 0.2em;
  background-color: #f2dede;
  box-shadow: 2px 1px 5px rgb(0, 66, 61);
}


.error h4 {
  font-size: 0.8em;
  font-weight: 700;
  line-height: 1.4;
  color: #b94a48;
}

.menu {
  float: left;
  clear: both;
  width: 12%;
  min-height: 400px;
  margin: 1em 0 0 10%;
}

.menu nav {
  width: 100%;
  border-radius: 0.3em;
}

.menu nav ul{
  width: 100%;
}

.menu nav ul {
  float: left;
}

.menu nav ul li {
  float: left;
  width: 100%;
  height: 2.188em;
  border-width: 0.063em;
  border-style: solid;
  border: 0.063em solid rgb(184, 227, 218);
  background-color: rgb(255, 255, 255);
}

.menu nav ul li a {
  display:block;
  width: 100%;
  line-height:2em;
  float: left;
  min-height: 1.25em;
  padding-left: 10%;
  color: rgb(0, 66, 61);
}

.menu nav ul li.selected {
  background: rgb(184, 227, 218);
  background: -webkit-linear-gradient(135deg, rgb(184, 227, 218) 0%, rgb(0, 66, 61) 100%) rgb(184, 227, 218);
  background:    -moz-linear-gradient(135deg, rgb(184, 227, 218) 0%, rgb(0, 66, 61) 100%) rgb(184, 227, 218);
  background:      -o-linear-gradient(135deg, rgb(184, 227, 218) 0%, rgb(0, 66, 61) 100%) rgb(184, 227, 218);
  background:     -ms-linear-gradient(135deg, rgb(184, 227, 218) 0%, rgb(0, 66, 61) 100%) rgb(184, 227, 218);
  background:         linear-gradient(315deg, rgb(184, 227, 218) 0%, rgb(0, 66, 61) 100%) rgb(184, 227, 218);
  background-size: 200% 100%;
}

.menu nav ul li.selected a {
  color: rgb(255, 255, 255);
}


.menu nav ul li:first-child {
  border-top-left-radius: 0.625em;
  border-top-right-radius: 0.625em;
}

.menu nav ul li:last-child {
  border-bottom-right-radius: 0.625em;
  border-bottom-left-radius: 0.625em;
}

.menu .admin {
  clear:left;
  padding-top:1em;
}

@media(max-width: 420px) {

.menu {
  clear: both;
  width: 100%;
  margin: 0.1em 0 0 0;
  min-height:0px;
}

.menu .admin {
  padding-top:0.2em;
}

}


.action {
  font-weight: 400;
  text-align: center;
  color: rgb(0, 66, 61);
  border: 0.063em solid rgb(58, 149, 130);
  border-radius: 0.313em;
  background: rgb(252, 255, 0);
  background: -webkit-linear-gradient(90deg, rgb(252, 255, 0) 0%, rgb(201, 204, 0) 99.52380952380952%) rgb(252, 255, 0);
  background:    -moz-linear-gradient(90deg, rgb(252, 255, 0) 0%, rgb(201, 204, 0) 99.52380952380952%) rgb(252, 255, 0);
  background:      -o-linear-gradient(90deg, rgb(252, 255, 0) 0%, rgb(201, 204, 0) 99.52380952380952%) rgb(252, 255, 0);
  background:     -ms-linear-gradient(90deg, rgb(252, 255, 0) 0%, rgb(201, 204, 0) 99.52380952380952%) rgb(252, 255, 0);
  background:         linear-gradient(360deg, rgb(252, 255, 0) 0%, rgb(201, 204, 0) 99.52380952380952%) rgb(252, 255, 0);
  resize: none;  
}

.alert {
  border: 0.063em solid rgb(58, 149, 130);
  border-radius: 0.313em;
  background-color:#b8e3da;
  padding-top:0.5%;
  padding-bottom:0.5%;  
  padding-left:1.5%;
  color:#00423d;
}

.alert .close {
  font-size:1.5em;
  font-weight:400;
  float:right;
  color:#ff6666;
  display:block;
  margin-top: -1%;
  margin-right:1.5%;
}