.section {
  width: 66%;
  float: left;
  margin-top: 1em;
  margin-left: 2%;
  margin-right: 1%;
}


.section header{
  padding-left:1%;
  width: 100%;
  float: left;
  height: 2.188em;
  border: 0.063em solid rgb(59, 148, 130);
}

.sectionbody {
  padding-top:1em;
  clear: both;
  width: 100%;
  border-width: 0.063em;
  border-bottom-right-radius: 0.625em;
  border-bottom-left-radius: 0.625em;
  color:#000000;
  background-color: rgb(255, 255, 255);
  border-color: rgb(184, 227, 218);
  border-style: solid;
}

.record {
  display:block;
  width:94%;
  min-height: 2.375em;
  margin-right: auto;
  margin-left: auto;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  border: 0.063em solid rgb(58, 149, 130);
  border-radius: 0.313em;
  background-color: rgb(184, 227, 218);
  color: rgb(0,0,0); 
}

.record p {
  line-height: 2;
  margin-left:1%;
  display:block;
  font-weight:400;
}

.action {
  height: 1.6em;
  margin-right: 1.09938%;
  margin-left: 1.09938%;
  
  margin-top: 0.3em;
  margin-bottom: 0.3em;
  display:block;
  line-height: 1.38;
  min-width:60px;
}

label {
  margin-left:1%;
  display:block;
  float:left;
  clear:left;
  min-width:120px;
}

input {
  float:left;
  margin-top:0.3em;
  padding: 0 0.4em;
  border: 0.308em solid rgb(184, 227, 218);
  border-radius: 0.385em;  
  width:225px;
}

input[readonly] {
  background-color:#d5d5d5;
  border: 0.308em solid rgb(184, 227, 218);
}

select {
  float:left;
  margin-top:0.3em;
  font-weight:400;
  border: 0.3em solid rgb(184, 227, 218);
  border-radius: 0.385em;  
  width:225px;
  margin-bottom:1em;
}

.sectionbody .action{
  clear:left;
}

.action {
  float:right;
}

table {
	width:98%;
	margin-top: 0;
	margin-bottom:1em;
	margin-left:1%;
	margin-right:1%;
	padding:0px;
}

table tbody tr td:last-child{
  text-align: center;
}

table .action {
  width: 100%;
}

table thead tr th {
  width:40%;
}

table thead tr th:last-child {
  width:20%;
}

@media(max-width: 420px) {

.section {
  width: 100%;
  clear:both;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}

}